@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{
    
    background-image: url(../img/helados2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.h1{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    background-color: pink;
    text-align: center;
}

.fabrica{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
   


.text-helados{
    font-family: cursive;
    color:blueviolet;
    background-color: black;
}

.text-color{
    color: #505EC6 ;
    background-color:#50B4C6;
    
}

/*animacion*/
.text-color {
    position: relative;
  }
  
  .text-color::after {
    content: "";
    /*border: 2px solid black;*/
    background-image: url(../img/helados2.jpg);
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: maquinaescribir 4s infinite alternate;
            animation: maquinaescribir 4s infinite alternate;
  }
  
  @-webkit-keyframes maquinaescribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  
  @keyframes maquinaescribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  .text-back{
    background-color: deeppink;
  }