@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{
    
    background-image: url(../img/helados2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.h1{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    background-color: pink;
    text-align: center;
}

.fabrica{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
   